*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.if{
    border: 3px black solid;
    top: 50px;
    position: fixed;
    right: 50px;
    height: 80vh;
    width: 900px;
}

.iframe_background{
    top: 50px;
    position: fixed;
    right: 50px;
    height: 80vh;
    width: 900px;
    z-index: 0;
    background-color: rgb(249, 249, 249);
}

.find_container{
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}

.find_container .company p{
    color: white;
}

.find_container .company{
    position: absolute;
    top: 75px;
    right: 1000px;
    width: 400px;
}

.find_container .company li{
    height: 47px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(0, 12, 120);
    display: flex;
    justify-content: center;
}

.find_container .company li p{
    display: flex;
    justify-content: center;
    width: 400px;
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.add{
    border: none;
    background-color: rgba(255, 255, 255,0);
    background-size: cover;
}

#name{
    color: rgb(0,0,42);
    font-size: 30px;
    margin: 5px;
}
#number{
    color: rgb(0,0,42);
    font-size: 30px;
    margin: 5px;
}

#name_input{
    font-size: 25px;
    border-radius: 10px;
    height: 30px;
    width: 170px;
}

#number_input{
    font-size: 25px;
    border-radius: 10px;
    height: 30px;
    width: 170px;
}

.add_company{
    background-color: rgba(225, 225, 225, 0.5);
    display: flex;
    border: 3px solid rgb(0,0,42);
    border-radius: 30px;
    position: fixed;
    bottom: 35px;
    right: 40px;
    height: 105px;
    width: 720px;
    align-items: center;
}

.delete{
    border-radius: 5px;
    border: 3px rgb(0,0,42) solid;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 43px;
    left: 300px;
    background-size: cover;
    background-color: rgba(0,0,0,0);
}

.back_filter{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 3;
    backdrop-filter: blur(2px);
    background-color: rgba(0,0,0,0.6);
    display: none;
}

.delete_page{
    position: fixed;
    z-index: 4;
    top: 10vh;
    right: 8vw;
    background: white;
    height: 80vh;
    width: 80vw;
    border-radius: 7px;
    display: none;
    justify-content: center;
}

.delete_page{
    justify-content: center;
    overflow: scroll;
}

.delete_page li{
    margin: 10px;
    border: 3px rgb(0, 12, 120) solid;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 400px;
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 40px;
}

.delete_page input[type=checkbox]{
    margin: 5px;
    appearance: none;
    height: 20px;
    width: 20px;
    border: 2px rgb(107, 107, 107) solid;
}

.delete_page input[type=checkbox]:checked{
    margin: 5px;
    appearance: none;
    height: 20px;
    width: 20px;
    border: 2px rgb(107, 107, 107) solid;
    background-color: red;
}

.delete_page button{
    border: none;
    border-radius: 50px;
    font-size: 30px;
    color: white;
    height: 80px;
    width: 150px;
    position: fixed;
    z-index: 5;
    font-size: 30px;
}

.delete_page .delete_ok{
    background-color: rgb(215, 215, 215);
    bottom: 140px;
    right: 230px;
}

.delete_page .delete_cancel{
    background-color: rgb(0,0,42);
    bottom: 140px;
    left: 270px;
}

.delete_page p{
    font-size: 50px;
    position: fixed;
    top: 100px;
    left: 300px;
}

.delete_page .delete_company_list .nothing{
    position: absolute;
    bottom: 10px;
    right: 500px;
    border: none;
    background-size: cover;
    height: auto;
    width: 500px;
}

.delete_page .delete_company_list .nothing img{
    height: auto;
    width: 500px;
}

.delete_page .delete_company_list .nothing p{
    position: fixed;
    width: 350px;
    left: 35vw;
    top: 320px;
}

.background img{
    position: absolute;
    z-index: -10000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}