*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.if{
    border: 3px black solid;
    top: calc(2vh + 64px);
    position: fixed;
    right: 2vw;
    height: calc(83vh - 64px);
    width: 55vw;
}

.iframe_background{
    top: calc(2vh + 64px);
    position: fixed;
    right: 2vw;
    height: calc(83vh - 64px);
    width: 55vw;
    z-index: 0;
    background-color: rgb(249, 249, 249);
}

.find_container{
    position: absolute;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}

.find_container::-webkit-scrollbar{
    display: none;
}

.find_container .company p{
    color: white;
}

.find_container .company{
    position: absolute;
    top: 75px;
    left: 16vw;
    width: 13vw;
}

.find_container .company li{
    position: relative;
    left: 0;
    width: 25vw;
    height: 47px;
    margin: 10px 0px;
    border-radius: 5px;
    background-color: rgb(0, 12, 120);
    display: flex;
    justify-content: center;
}

.find_container .company li p{
    display: flex;
    justify-content: center;
    width: 25vw;
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.add{
    border: none;
    background-color: rgba(255, 255, 255,0);
    background-size: cover;
}

#name{
    color: rgb(0,0,42);
    font-size: 30px;
    margin: 5px;
}
#number{
    color: rgb(0,0,42);
    font-size: 30px;
    margin: 5px;
}

#name_input{
    font-size: 25px;
    border-radius: 10px;
    height: 30px;
    width: 170px;
}

#number_input{
    font-size: 25px;
    border-radius: 10px;
    height: 30px;
    width: 170px;
}

.add_company{
    background-color: rgba(225, 225, 225, 0.5);
    display: flex;
    border: 3px solid rgb(0,0,42);
    border-radius: 30px;
    position: fixed;
    bottom: 3vh;
    right: 3vw;
    height: 10vh;
    width: 720px;
    align-items: center;
}

.delete{
    border-radius: 5px;
    border: 3px rgb(0,0,42) solid;
    height: 100px;
    width: 100px;
    position: absolute;
    bottom: 43px;
    left: 16vw;
    background-size: cover;
    background-color: rgb(235, 235, 235);
}

.back_filter{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 3;
    backdrop-filter: blur(2px);
    background-color: rgba(0,0,0,0.6);
    display: none;
}

.delete_page{
    position: fixed;
    z-index: 4;
    top: calc(10vh + 32px);
    right: 8vw;
    background: white;
    height: 80vh;
    width: 80vw;
    display: none;
    justify-content: center;
    border-radius: 10px;
}

.delete_page{
    justify-content: center;
    overflow: scroll;
}

.delete_page::-webkit-scrollbar{
    display: none;
}

.delete_page li{
    margin: 10px;
    border: 3px rgb(0, 12, 120) solid;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 400px;
    display: flex;
    align-items: center;
    height: 70px;
    font-size: 40px;
    position: relative;
    z-index: 1;
}

.delete_page input[type=checkbox]{
    margin: 5px;
    appearance: none;
    height: 20px;
    width: 20px;
    border: 2px rgb(107, 107, 107) solid;
}

.delete_page input[type=checkbox]:checked{
    margin: 5px;
    appearance: none;
    height: 20px;
    width: 20px;
    border: 2px rgb(107, 107, 107) solid;
    background-color: red;
}

.delete_page button{
    border: none;
    border-radius: 50px;
    font-size: 30px;
    color: white;
    height: 80px;
    width: 150px;
    position: fixed;
    z-index: 5;
    font-size: 30px;
}

.delete_page .delete_ok{
    background-color: rgb(215, 215, 215);
    bottom: calc(11vh - 32px);
    right: 10vw;
}

.delete_page .delete_cancel{
    background-color: rgb(0,0,42);
    bottom: calc(11vh - 32px);
    left: 13vw;
}

.delete_page p{
    background-color: white;
    z-index: 3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    width: 80vw;
    font-size: 35px;
    position: fixed;
    top: calc(10vh + 32px);
    left: 12vw;
}

.delete_page .delete_company_list .nothing{
    width: 100vw;
    height: 100vh;
    border: none;
}

.delete_page .delete_company_list .nothing img{
    position: absolute;
    left: 35vw;
    bottom: calc(100vh - 64px - 35vw);
    height: auto;
    width: 30vw;
}

.delete_page .delete_company_list .nothing p{
    position: fixed;
    width: 30vw;
    left: 25vw;
    top: 40vh;
}

.background img{
    position: absolute;
    z-index: -10000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}